<div class="main  container">
  <%= render '/jobs/top' %>
  <div class="row">
    <div class="content col-36">
      <div class="row" id="article_content_div">
            <center>
              <h1><%= @article.title %></h1>
                <p>
                  来源：<%= @article.source %>&nbsp;
                  时间：<%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S") %>&nbsp;
                  阅读：<%= @article.click %>
                </p>
            </center>
            <p>
              <%= @article.text.html_safe %>
            </p>
            <br>
            <p style="text-align: center;">
                <%=link_to '返回', :back, :style=>"color:#1866b8" %>
            </p>
      </div>
    </div>
  </div>
</div>
