<div class="main  container">
  <%= render '/jobs/top' %>
  <div class="row">
    <div class="content col-offset-1 col-37">
      <div class="row">
            <center>
              <h1><%= @article.title %></h1>
                <p>
                  来源：<%= @article.source %>&nbsp;
                  时间：<%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S") %>&nbsp;
                  阅读：<%= @article.click %>
                </p>
            </center>
            <p>
              <%= @article.text.html_safe %>
            </p>
        </div>
      </div>
  </div>

</div>