<div class="jobItems">
  <% @hot_sub_positions.each do |sub_position|%>
      <div class="col-12 jobItem text-center">
          <%if params[:action]=='index'%>
              <a href="/jobs?sub_position_id=<%=sub_position.id%>" class="sidebarItem">
                <div class="<%=hot_category_class(sub_position.id)%>">
                    <%=sub_position.name%>
                </div>
              </a>
          <% else %>
            <a href="/jobs/new_job?sub_position_id=<%=sub_position.id%>" class="sidebarItem">
              <div class="<%=hot_category_class(sub_position.id)%>">
                <%=sub_position.name%>
              </div>
            </a>
          <% end %>
      </div>
  <% end %>
</div>