<div class="row">
    <%= form_for @company, :html =>{:multipart => true} do |f| %>
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
          <ul>
          <% @company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="col-48 line">
          <div class="row">
            <div class="col-4">
              <label for="">企业名称</label>
              <span class="light">*</span>
            </div>
            <div class="col-44">
              <input id="company_name" type="text" name="company[name]" value="<%=@company.name%>">
            </div>
          </div>
        </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">手机号码</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="company_phone" type="text" name="company[phone]" value="<%=@company.phone%>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">常用邮箱</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="company_email" type="text" name="company[email]" value="<%=@company.email%>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">企业地址</label>
          </div>
          <div class="col-44">
            <input id="company_address" type="text" name="company[address]" value="<%=@company.address%>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">联系人</label>
          </div>
          <div class="col-44">
            <input id="company_contact" type="text" name="company[contact]" value="<%=@company.contact%>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">企业官网</label>
          </div>
          <div class="col-44">
            <input id="company_web_site" type="text" name="company[web_site]" value="<%=@company.web_site%>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">logo</label>
          </div>
          <div class="col-44">
            <% if @company.logo.present?%>
                <%= image_tag "/upload/#{@company.logo}", size: '50x50'%>
            <% end %>
            <%=file_field 'company','logo' %>
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">企业简介</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <textarea style="background-color: #ffffff;border:1px solid grey;" name="company[contents]"><%=@company.contents%></textarea>
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-44">
            <button class="btn-primary" type="submit" >保存</button>
          </div>
        </div>
      </div>
    <% end %>
</div>