<%= form_for @job, url: create_job_companies_path(:id=>@company.id), html:{method: 'post', id: "company_job_form"} do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%if @jobs.present?%>
      <% @jobs.each do |job|%>
        <%@job = job%>
        <%= render 'job' %>
      <% end %>
    <% else %>
        <%= render 'job' %>
    <% end %>
    <div class="col-48 line">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-44">
          <button class="btn-primary" type="button" id="company_job_btn" >保存</button>
          <button class="btn-primary" type="button" id="add_job_btn">增加招聘信息</button>
          <!--<button class="btn-default" type="button">取消</button>-->
        </div>
      </div>
    </div>
<% end %>
