<div class="job_div">
  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">招聘岗位</label>
        <span class="light">*</span>
      </div>
      <div class="col-44">
        <input id="job_name" type="text" name="job[name][]" value="<%=@job.name %>"/>
      </div>
    </div>
  </div>
  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">招聘人数</label>
        <span class="light">*</span>
      </div>
      <div class="col-44">
        <input id="job_amount" type="text" name="job[amount][]" value="<%=@job.amount %>"/>
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">职位分类</label>
        <span class="light">*</span>
      </div>
      <div class="col-44">
        <select id="job_position_id" name="job[position_id][]" style="width:200px;">
          <option value="">请选择</option>
          <%positionId = @job.position_id %>
          <% Position.all.each do |position|%>
              <option value="<%=position.id %>" <%if positionId==position.id%>selected<%end%>>
                <%=position.name %>
              </option>
          <%end%>
        </select>
        <select id="job_sub_position_id" name="job[sub_position_id][]">
          <option value="">请选择</option>
          <% SubPosition.where(:position_id=>positionId).each do |sub_position|%>
              <option value="<%=sub_position.id %>" <%if @job.sub_position_id==sub_position.id%>selected<%end%>>
                <%=sub_position.name %>
              </option>
          <%end%>
        </select>
        <input type="hidden" id="subPositionId" value="<%=@job.sub_position_id %>"/>
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">热门职位</label>
        <span class="light">*</span>
      </div>
      <div class="col-44">
        <div class="row">
          <select name="job[recommend][]">
            <option <%if @job.recommend=='y'%>selected<% end %> value="y">
                是
            </option>
            <option <%if @job.recommend=='n'%>selected<% end %> value="n">
              否
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">性别</label>
        <span class="light">*</span>
      </div>
      <div class="col-44">
        <div class="row">
          <select name="job[sex][]">
            <option <%if @job.sex=='male'%>selected<% end %> value="male">
              男
            </option>
            <option <%if @job.sex=='female'%>selected<% end %> value="female">
              女
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">学历</label>
      </div>
      <div class="col-44">
        <input id="job_education" type="text" name="job[education][]" value="<%=@job.education %>" placeholder="如: 本科以上"/>
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">工作年限</label>
      </div>
      <div class="col-44">
        <input id="job_experience" type="text" name="job[experience][]" value="<%=@job.experience %>" placeholder="如: 1-3"/>年
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">薪资</label>
      </div>
      <div class="col-44">
        <input id="job_wage" type="text" name="job[wage][]" value="<%=@job.wage %>" placeholder="如: 8000-10000"/>
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">起止日期</label>
        <span class="light">*</span>
      </div>
      <div class="col-44">
        <div class="row">
          <select name="job[strat_time(1i)][]" id="resume_work_start_time_1i">
            <% (2015..2020).each do |y|%>
                <option value="<%=y%>" <%if year(@job.strat_time)==y%>selected<%end%>><%=y%></option>
            <% end %>
          </select>
          <select name="job[strat_time(2i)][]" id="resume_work_start_time_2i">
            <% (1..12).each do |m|%>
                <option value="<%=m %>" <%if month(@job.strat_time)==m%>selected<%end%>><%=m %></option>
            <% end %>
          </select>
          <select name="job[strat_time(3i)][]" id="resume_work_start_time_3i">
            <% (1..31).each do |d|%>
                <option value="<%=d %>" <%if day(@job.strat_time)==d%>selected<%end%>><%=d %></option>
            <% end %>
          </select>

        </div>

        <div class="row">
          <select name="job[end_time(1i)][]" id="resume_work_end_time_1i">
            <% (2015..2020).each do |y|%>
                <option value="<%=y%>" <%if year(@job.end_time)==y%>selected<%end%>><%=y%></option>
            <% end %>
          </select>
          <select name="job[end_time(2i)][]" id="resume_work_end_time_2i">
            <% (1..12).each do |m|%>
                <option value="<%=m %>" <%if month(@job.end_time)==m%>selected<%end%>><%=m %></option>
            <% end %>
          </select>
          <select name="job[end_time(3i)][]" id="resume_work_end_time_3i">
            <% (1..31).each do |d|%>
                <option value="<%=d %>" <%if day(@job.end_time)==d%>selected<%end%>><%=d %></option>
            <% end %>
          </select>

        </div>
      </div>
    </div>
  </div>


  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">职位诱惑</label>
      </div>
      <div class="col-44">
        <input id="job_temptation" type="text" name="job[temptation][]" value="<%=@job.temptation %>" placeholder="如: 包食宿,五险一金,年度旅游,气氛自由,发展前景好"/>
        <i>之间使用逗号隔开</i>
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">岗位职责</label>
      </div>
      <div class="col-44">
        <textarea name="job[duty][]" style="background-color: #ffffff;border:1px solid grey;"><%=@job.duty %></textarea>
        <i>之间使用英文逗号隔开</i>
      </div>
    </div>
  </div>

  <div class="col-48 line">
    <div class="row">
      <div class="col-4">
        <label for="">任职需求</label>
      </div>
      <div class="col-44">
        <textarea name="job[requirement][]" style="background-color: #ffffff;border:1px solid grey;"><%=@job.requirement %></textarea>
        <i>之间使用英文逗号隔开</i>
      </div>
    </div>
  </div>
</div>