<div class="userInfoContent container">
  <div class="row">
    <div class="col-48">
        <table id="company_table">
          <thead>
          <tr>
            <th>公司名称</th>
            <th>手机号码</th>
            <th>常用邮箱</th>
            <th>官网</th>
            <th>Logo</th>
            <th>联系人</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody>
          <% if @companies.present? %>
              <% @companies.each do |company| %>
                  <tr>
                    <td><%= company.name %></td>
                    <td><%= company.phone %></td>
                    <td><%= company.email %></td>
                    <td><%= company.web_site %></td>
                    <td>
                      <% if company.logo.present?%>
                          <%= image_tag "/upload/#{company.logo}", size: '50x50'%>
                      <% else %>
                          --
                      <% end %>
                    </td>
                    <td><%= company.contact %></td>
                    <td>
                      <%= link_to '查看', company %>
                      <% if current_user.role.customer?%>
                          <%= link_to '编辑', edit_company_path(company) %>
                          <%= link_to '删除', company, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
          <% else %>
            <tr>
              <td colspan="9">暂无数据</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <%= paginate @companies %>
    </div>
  </div>
</div>
