<div class="row">
    <%= form_for @resume_work,:url => create_work_resumes_path(:id=>@resume.id), :html=>{:method=>'post', :id=>"resumeWorkForm"} do |f| %>
      <input type="hidden" name="o" value="2"/>
      <% if @resume_work.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@resume_work.errors.count, "error") %> prohibited this resume_work from being saved:</h2>

          <ul>
          <% @resume_work.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% @resume_works.each do |resume_work|%>
          <div class="resume_work_div">
              <div class="col-48 line">
                <div class="row">
                  <div class="col-4">
                    <label for="">公司名称</label>
                    <span class="light">*</span>
                  </div>
                  <div class="col-44">
                    <input id="resume_work_company" type="text" name="resume_work[company][]" value="<%=resume_work.company %>">
                  </div>
                </div>
              </div>
              <div class="col-48 line">
                  <div class="row">
                        <div class="col-4">
                          <label for="">公司规模</label>
                          <span class="light">*</span>
                        </div>
                        <div class="col-44">
                          <input id="resume_work_number" type="number" name="resume_work[number][]" value="<%=resume_work.number %>">
                        </div>
                  </div>
              </div>
            <div class="col-48 line">
              <div class="row">
                <div class="col-4">
                  <label for="">所属行业</label>
                  <span class="light">*</span>
                </div>
                <div class="col-44">
                  <input id="resume_work_industry" type="text" name="resume_work[industry][]" value="<%=resume_work.industry %>">
                </div>
              </div>
            </div>
            <div class="col-48 line">
              <div class="row">
                <div class="col-4">
                  <label for="">薪资</label>
                  <span class="light">*</span>
                </div>
                <div class="col-44">
                  <input id="resume_work_wage" type="text" name="resume_work[wage][]" value="<%=resume_work.wage %>">
                </div>
              </div>
            </div>
            <div class="col-48 line">
              <div class="row">
                <div class="col-4">
                  <label for="">工作内容</label>
                </div>
                <div class="col-44">
                  <table>
                    <tr>
                      <td>具体内容</td>
                      <td colspan="3">
                        <textarea id="resume_work_achievements" name="resume_work[achievements][]" style="background-color: #ffffff;border:1px solid grey;"><%=resume_work.achievements %></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>优质案例</td>
                      <td>
                        <textarea id="resume_work_quality_case" name="resume_work[quality_case][]" style="background-color: #ffffff;border:1px solid grey;"><%=resume_work.quality_case %></textarea>
                      </td>
                      <td>业绩排名(非销售可不填)</td>
                      <td>
                        <input id="resume_work_ranking" type="number" name="resume_work[ranking][]" value="<%=resume_work.ranking %>">
                      </td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
              <div class="col-48 line">
                <div class="row">
                  <div class="col-4">
                    <label for="">职位名称</label>
                    <span class="light">*</span>
                  </div>
                  <div class="col-44">
                    <input id="resume_work_job" type="text" name="resume_work[job][]" value="<%=resume_work.job %>">
                  </div>
                </div>
              </div>
              <div class="col-48 line">
                <div class="row">
                  <div class="col-4">
                    <label for="">起止日期</label>
                    <span class="light">*</span>
                  </div>
                  <div class="col-44">
                    <div class="row">
                      <select name="resume_work[start_time(1i)][]" id="resume_work_start_time_1i">
                        <% (2010..2015).each do |y|%>
                            <option value="<%=y%>" <%if year(resume_work.start_time)==y%>selected<%end%>><%=y%></option>
                        <% end %>
                      </select>
                      <select name="resume_work[start_time(2i)][]" id="resume_work_start_time_2i">
                        <% (1..12).each do |m|%>
                            <option value="<%=m %>" <%if month(resume_work.start_time)==m%>selected<%end%>><%=m %></option>
                        <% end %>
                      </select>
                      <select name="resume_work[start_time(3i)][]" id="resume_work_start_time_3i">
                        <% (1..31).each do |d|%>
                            <option value="<%=d %>" <%if day(resume_work.start_time)==d%>selected<%end%>><%=d %></option>
                        <% end %>
                      </select>

                    </div>

                      <div class="row">
                        <select name="resume_work[end_time(1i)][]" id="resume_work_end_time_1i">
                          <% (2010..2015).each do |y|%>
                              <option value="<%=y%>" <%if year(resume_work.end_time)==y%>selected<%end%>><%=y%></option>
                          <% end %>
                        </select>
                        <select name="resume_work[end_time(2i)][]" id="resume_work_end_time_2i">
                          <% (1..12).each do |m|%>
                              <option value="<%=m %>" <%if month(resume_work.end_time)==m%>selected<%end%>><%=m %></option>
                          <% end %>
                        </select>
                        <select name="resume_work[end_time(3i)][]" id="resume_work_end_time_3i">
                          <% (1..31).each do |d|%>
                              <option value="<%=d %>" <%if day(resume_work.end_time)==d%>selected<%end%>><%=d %></option>
                          <% end %>
                        </select>

                      </div>
                  </div>
                </div>
              </div>

              <div class="col-48 line">
                <div class="row">
                  <div class="col-4">
                    <label for="">离职原因</label>
                    <span class="light">*</span>
                  </div>
                  <div class="col-44">
                    <input type="text" id="resume_work_reasons" name="resume_work[reasons][]" value="<%=resume_work.reasons %>"/>
                  </div>
                </div>
              </div>
          </div>
      <% end %>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-44">
            <button class="btn-primary" type="button" id="resume_work_btn" >保存</button>
            <button class="btn-primary" type="button" id="add_resume_work_btn">增加工作经历</button>
            <!--<button class="btn-default" type="button">取消</button>-->
          </div>
        </div>
      </div>
    <% end %>
</div>