<div class="row">
    <%= form_for @resume_education,:url => create_education_resumes_path(:id=>@resume_education.id), :html=>{:method=>'post'} do |f| %>
      <input type="hidden" name="o" value="3"/>
      <% if @resume_education.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@resume_education.errors.count, "error") %> prohibited this resume_education from being saved:</h2>

          <ul>
          <% @resume_education.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">学校名称</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_education_school" type="text" name="resume_education[school]" value="<%=@resume_education.school %>">
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">专业名称</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_education_speciality" type="text" name="resume_education[speciality]" value="<%=@resume_education.speciality %>">
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">学历</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_education_education" type="text" name="resume_education[education]" value="<%=@resume_education.education %>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">起止日期</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <div class="row">
              <select name="resume_education[start_time(1i)]" id="resume_education_start_time_1i">
                <option value="2010" <%if year(@resume_education.start_time)==2010%>selected<%end%>>2010</option>
                <option value="2011" <%if year(@resume_education.start_time)==2011%>selected<%end%>>2011</option>
                <option value="2012" <%if year(@resume_education.start_time)==2012%>selected<%end%>>2012</option>
                <option value="2013" <%if year(@resume_education.start_time)==2013%>selected<%end%>>2013</option>
                <option value="2014" <%if year(@resume_education.start_time)==2014%>selected<%end%>>2014</option>
                <option value="2015" <%if year(@resume_education.start_time)==2015%>selected<%end%>>2015</option>
                <option value="2016" <%if year(@resume_education.start_time)==2016%>selected<%end%>>2016</option>
                <option value="2017" <%if year(@resume_education.start_time)==2017%>selected<%end%>>2017</option>
                <option value="2018" <%if year(@resume_education.start_time)==2018%>selected<%end%>>2018</option>
                <option value="2019" <%if year(@resume_education.start_time)==2019%>selected<%end%>>2019</option>
                <option value="2020" <%if year(@resume_education.start_time)==2020%>selected<%end%>>2020</option>
              </select>
              <select name="resume_education[start_time(2i)]" id="resume_education_start_time_2i">
                <option value="1" <%if month(@resume_education.start_time)==1%>selected<%end%>>一月</option>
                <option value="2" <%if month(@resume_education.start_time)==2%>selected<%end%>>二月</option>
                <option value="3" <%if month(@resume_education.start_time)==3%>selected<%end%>>三月</option>
                <option value="4" <%if month(@resume_education.start_time)==4%>selected<%end%>>四月</option>
                <option value="5" <%if month(@resume_education.start_time)==5%>selected<%end%>>五月</option>
                <option value="6" <%if month(@resume_education.start_time)==6%>selected<%end%>>六月</option>
                <option value="7" <%if month(@resume_education.start_time)==7%>selected<%end%>>七月</option>
                <option value="8" <%if month(@resume_education.start_time)==8%>selected<%end%>>八月</option>
                <option value="9" <%if month(@resume_education.start_time)==9%>selected<%end%>>九月</option>
                <option value="10" <%if month(@resume_education.start_time)==10%>selected<%end%>>十月</option>
                <option value="11" <%if month(@resume_education.start_time)==11%>selected<%end%>>十一月</option>
                <option value="12" <%if month(@resume_education.start_time)==12%>selected<%end%>>十二月</option>
              </select>
              <select name="resume_education[start_time(3i)]" id="resume_education_start_time_3i">
                <option value="1" <%if day(@resume_education.start_time)==1%>selected<%end%>>1</option>
                <option value="2" <%if day(@resume_education.start_time)==2%>selected<%end%>>2</option>
                <option value="3" <%if day(@resume_education.start_time)==3%>selected<%end%>>3</option>
                <option value="4" <%if day(@resume_education.start_time)==4%>selected<%end%>>4</option>
                <option value="5" <%if day(@resume_education.start_time)==5%>selected<%end%>>5</option>
                <option value="6" <%if day(@resume_education.start_time)==6%>selected<%end%>>6</option>
                <option value="7" <%if day(@resume_education.start_time)==7%>selected<%end%>>7</option>
                <option value="8" <%if day(@resume_education.start_time)==8%>selected<%end%>>8</option>
                <option value="9" <%if day(@resume_education.start_time)==9%>selected<%end%>>9</option>
                <option value="10" <%if day(@resume_education.start_time)==10%>selected<%end%>>10</option>
                <option value="11" <%if day(@resume_education.start_time)==11%>selected<%end%>>11</option>
                <option value="12" <%if day(@resume_education.start_time)==12%>selected<%end%>>12</option>
                <option value="13" <%if day(@resume_education.start_time)==13%>selected<%end%>>13</option>
                <option value="14" <%if day(@resume_education.start_time)==14%>selected<%end%>>14</option>
                <option value="15" <%if day(@resume_education.start_time)==15%>selected<%end%>>15</option>
                <option value="16" <%if day(@resume_education.start_time)==16%>selected<%end%>>16</option>
                <option value="17" <%if day(@resume_education.start_time)==17%>selected<%end%>>17</option>
                <option value="18" <%if day(@resume_education.start_time)==18%>selected<%end%>>18</option>
                <option value="19" <%if day(@resume_education.start_time)==19%>selected<%end%>>19</option>
                <option value="20" <%if day(@resume_education.start_time)==20%>selected<%end%>>20</option>
                <option value="21" <%if day(@resume_education.start_time)==21%>selected<%end%>>21</option>
                <option value="22" <%if day(@resume_education.start_time)==22%>selected<%end%>>22</option>
                <option value="23" <%if day(@resume_education.start_time)==23%>selected<%end%>>23</option>
                <option value="24" <%if day(@resume_education.start_time)==24%>selected<%end%>>24</option>
                <option value="25" <%if day(@resume_education.start_time)==25%>selected<%end%>>25</option>
                <option value="26" <%if day(@resume_education.start_time)==26%>selected<%end%>>26</option>
                <option value="27" <%if day(@resume_education.start_time)==27%>selected<%end%>>27</option>
                <option value="28" <%if day(@resume_education.start_time)==28%>selected<%end%>>28</option>
                <option value="29" <%if day(@resume_education.start_time)==29%>selected<%end%>>29</option>
                <option value="30" <%if day(@resume_education.start_time)==30%>selected<%end%>>30</option>
                <option value="31" <%if day(@resume_education.start_time)==31%>selected<%end%>>31</option>
              </select>

            </div>

            <div class="row">
              <select name="resume_education[end_time(1i)]" id="resume_education_end_time_1i">
                <option value="2010" <%if year(@resume_education.end_time)==2010%>selected<%end%>>2010</option>
                <option value="2011" <%if year(@resume_education.end_time)==2011%>selected<%end%>>2011</option>
                <option value="2012" <%if year(@resume_education.end_time)==2012%>selected<%end%>>2012</option>
                <option value="2013" <%if year(@resume_education.end_time)==2013%>selected<%end%>>2013</option>
                <option value="2014" <%if year(@resume_education.end_time)==2014%>selected<%end%>>2014</option>
                <option value="2015" <%if year(@resume_education.end_time)==2015%>selected<%end%>>2015</option>
                <option value="2016" <%if year(@resume_education.end_time)==2016%>selected<%end%>>2016</option>
                <option value="2017" <%if year(@resume_education.end_time)==2017%>selected<%end%>>2017</option>
                <option value="2018" <%if year(@resume_education.end_time)==2018%>selected<%end%>>2018</option>
                <option value="2019" <%if year(@resume_education.end_time)==2019%>selected<%end%>>2019</option>
                <option value="2020" <%if year(@resume_education.end_time)==2020%>selected<%end%>>2020</option>
              </select>
              <select name="resume_education[end_time(2i)]" id="resume_education_end_time_2i">
                <option value="1" <%if month(@resume_education.end_time)==1%>selected<%end%>>一月</option>
                <option value="2" <%if month(@resume_education.end_time)==2%>selected<%end%>>二月</option>
                <option value="3" <%if month(@resume_education.end_time)==3%>selected<%end%>>三月</option>
                <option value="4" <%if month(@resume_education.end_time)==4%>selected<%end%>>四月</option>
                <option value="5" <%if month(@resume_education.end_time)==5%>selected<%end%>>五月</option>
                <option value="6" <%if month(@resume_education.end_time)==6%>selected<%end%>>六月</option>
                <option value="7" <%if month(@resume_education.end_time)==7%>selected<%end%>>七月</option>
                <option value="8" <%if month(@resume_education.end_time)==8%>selected<%end%>>八月</option>
                <option value="9" <%if month(@resume_education.end_time)==9%>selected<%end%>>九月</option>
                <option value="10" <%if month(@resume_education.end_time)==10%>selected<%end%>>十月</option>
                <option value="11" <%if month(@resume_education.end_time)==11%>selected<%end%>>十一月</option>
                <option value="12" <%if month(@resume_education.end_time)==12%>selected<%end%>>十二月</option>
              </select>
              <select name="resume_education[end_time(3i)]" id="resume_education_end_time_3i">
                <option value="1" <%if day(@resume_education.end_time)==1%>selected<%end%>>1</option>
                <option value="2" <%if day(@resume_education.end_time)==2%>selected<%end%>>2</option>
                <option value="3" <%if day(@resume_education.end_time)==3%>selected<%end%>>3</option>
                <option value="4" <%if day(@resume_education.end_time)==4%>selected<%end%>>4</option>
                <option value="5" <%if day(@resume_education.end_time)==5%>selected<%end%>>5</option>
                <option value="6" <%if day(@resume_education.end_time)==6%>selected<%end%>>6</option>
                <option value="7" <%if day(@resume_education.end_time)==7%>selected<%end%>>7</option>
                <option value="8" <%if day(@resume_education.end_time)==8%>selected<%end%>>8</option>
                <option value="9" <%if day(@resume_education.end_time)==9%>selected<%end%>>9</option>
                <option value="10" <%if day(@resume_education.end_time)==10%>selected<%end%>>10</option>
                <option value="11" <%if day(@resume_education.end_time)==11%>selected<%end%>>11</option>
                <option value="12" <%if day(@resume_education.end_time)==12%>selected<%end%>>12</option>
                <option value="13" <%if day(@resume_education.end_time)==13%>selected<%end%>>13</option>
                <option value="14" <%if day(@resume_education.end_time)==14%>selected<%end%>>14</option>
                <option value="15" <%if day(@resume_education.end_time)==15%>selected<%end%>>15</option>
                <option value="16" <%if day(@resume_education.end_time)==16%>selected<%end%>>16</option>
                <option value="17" <%if day(@resume_education.end_time)==17%>selected<%end%>>17</option>
                <option value="18" <%if day(@resume_education.end_time)==18%>selected<%end%>>18</option>
                <option value="19" <%if day(@resume_education.end_time)==19%>selected<%end%>>19</option>
                <option value="20" <%if day(@resume_education.end_time)==20%>selected<%end%>>20</option>
                <option value="21" <%if day(@resume_education.end_time)==21%>selected<%end%>>21</option>
                <option value="22" <%if day(@resume_education.end_time)==22%>selected<%end%>>22</option>
                <option value="23" <%if day(@resume_education.end_time)==23%>selected<%end%>>23</option>
                <option value="24" <%if day(@resume_education.end_time)==24%>selected<%end%>>24</option>
                <option value="25" <%if day(@resume_education.end_time)==25%>selected<%end%>>25</option>
                <option value="26" <%if day(@resume_education.end_time)==26%>selected<%end%>>26</option>
                <option value="27" <%if day(@resume_education.end_time)==27%>selected<%end%>>27</option>
                <option value="28" <%if day(@resume_education.end_time)==28%>selected<%end%>>28</option>
                <option value="29" <%if day(@resume_education.end_time)==29%>selected<%end%>>29</option>
                <option value="30" <%if day(@resume_education.end_time)==30%>selected<%end%>>30</option>
                <option value="31" <%if day(@resume_education.end_time)==31%>selected<%end%>>31</option>
              </select>

            </div>
          </div>
        </div>
      </div>


      <div class="col-48 line">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-44">
            <button class="btn-primary" type="submit" >保存</button>
            <button class="btn-default">取消</button>
          </div>
        </div>
      </div>
    <% end %>
</div>