<div class="row">
  <%= form_for @resume,:url => modify_resumes_path(:id=>@resume.id), :html=>{:method=>'post', :multipart => true, :id=>"resume_form"} do |f| %>
      <input type="hidden" name="o" value="1"/>
      <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

            <ul>
              <% @resume.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">简历名称</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_title" type="text" name="resume[title]" value="<%=@resume.title%>"/>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">姓名</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_fullname" type="text" name="resume[fullname]" value="<%=@resume.fullname%>">
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">性别</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <div class="row">
              <div class="col-8">
                <input id="sex_male" type="radio" <%if @resume.sex=='male'%>checked="checked"<% end %> value="male" name="resume[sex]">
                <label for="sex">男</label>
              </div>
              <div class="col-8">
                <input id="sex_female" type="radio" <%if @resume.sex=='female'%>checked="checked"<% end %> value="female" name="resume[sex]">
                <label for="sex">女</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">照片</label>
          </div>
          <div class="col-44">
            <% if @resume.photo_img.present?%>
                <%= image_tag "/upload/#{@resume.photo_img}", size: '50x50'%>
            <% end %>
            <%=file_field 'resume','photo_img' %>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">手机号码</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_phone" type="text" name="resume[phone]" value="<%=@resume.phone %>">
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">常用邮箱</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_email" type="text" name="resume[email]" value="<%=@resume.email %>">
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">QQ号码</label>
          </div>
          <div class="col-44">
            <input id="resume_qq" type="text" name="resume[qq]" value="<%=@resume.qq %>">
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">出生日期</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <div class="row">
              <select name="resume[birthday(1i)]" id="resume_birthday_1i">
                <% (1965..1997).each do |y|%>
                    <option value="<%=y%>" <%if year(@resume.birthday)==y%>selected<%end%>><%=y%></option>
                <% end %>
              </select>
              <select name="resume[birthday(2i)]" id="resume_birthday_2i">
                <% (1..12).each do |m|%>
                    <option value="<%=m %>" <%if month(@resume.birthday)==m%>selected<%end%>><%=m %></option>
                <% end %>
              </select>
              <select name="resume[birthday(3i)]" id="resume_birthday_3i">
                <% (1..31).each do |d|%>
                    <option value="<%=d %>" <%if day(@resume.birthday)==d%>selected<%end%>><%=d %></option>
                <% end %>
              </select>

            </div>
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">学历</label>
          </div>
          <div class="col-44">
            <div class="row">
              <select name="resume[educational]" id="resume_educational">
                <% Resume.educational.options.each do |educational|%>
                    <option value="<%=educational.last %>" <%if @resume.educational==educational.last%>selected<%end%>>
                      <%=educational.first %>
                    </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">籍贯</label>
          </div>
          <div class="col-44">
            <div class="row">
              <select name="resume[district]" id="resume_district">
                <% Resume.districts.each do |district|%>
                    <option value="<%=district %>" <%if @resume.district==district%>selected<%end%>>
                      <%=district %>
                    </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">现居住地</label>
          </div>
          <div class="col-44">
            <input id="resume_address" type="text" name="resume[address]" value="<%=@resume.address %>" />
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">婚姻状况</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <div class="row">
              <div class="col-8">
                <input id="marriage_y" type="radio" <%if @resume.marriage=='y'%>checked="checked"<% end %> value="y" name="resume[marriage]">
                <label for="sex">已婚</label>
              </div>
              <div class="col-8">
                <input id="marriage_n" type="radio" <%if @resume.marriage=='n'%>checked="checked"<% end %> value="n" name="resume[marriage]">
                <label for="sex">未婚</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">政治面貌</label>
          </div>
          <div class="col-44">
            <div class="row">
              <select name="resume[political_status]" id="resume_political_status">
                <% Resume.political_status.options.each do |political|%>
                    <option value="<%=political.last %>" <%if @resume.political_status==political.last%>selected<%end%>>
                      <%=political.first %>
                    </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">汽车驾照</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <div class="row">
              <div class="col-8">
                <input id="resume_driving_license_y" type="radio" <%if @resume.driving_license=='y'%>checked="checked"<% end %> value="y" name="resume[driving_license]">
                <label for="sex">有</label>
              </div>
              <div class="col-8">
                <input id="resume_driving_license_n" type="radio" <%if @resume.driving_license=='n'%>checked="checked"<% end %> value="n" name="resume[driving_license]">
                <label for="sex">无</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">驾龄</label>
          </div>
          <div class="col-44">
            <input id="resume_driving_age" type="text" name="resume[driving_age]" value="<%=@resume.driving_age %>" />
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">个人评价</label>
          </div>
          <div class="col-44">
            <textarea id="resume_evaluation" name="resume[evaluation]" style="background-color: #ffffff;border:1px solid grey;"><%=@resume.evaluation %></textarea>
          </div>
        </div>
      </div>

      <div class="col-48 line">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-44">
            <button class="btn-primary" type="submit" >保存</button>
            <!--<button class="btn-default" type="button">取消</button>-->
          </div>
        </div>
      </div>
  <% end %>
</div>