<div class="row">
  <%= form_for @resume,:url => modify_resumes_path(:id=>@resume.id), :html=>{:method=>'post', :id=>"resume_form"} do |f| %>
      <input type="hidden" name="o" value="1"/>
      <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

            <ul>
              <% @resume.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">简历名称</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_title" type="text" name="resume[title]" value="<%=@resume.title%>"/>
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">真实姓名</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_fullname" type="text" name="resume[fullname]" value="<%=@resume.fullname%>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">常用邮箱</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_email" type="text" name="resume[email]" value="<%=@resume.email %>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">手机号码</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <input id="resume_phone" type="text" name="resume[phone]" value="<%=@resume.phone %>">
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">性别</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <div class="row">
              <div class="col-8">
                <input id="sex_male" type="radio" <%if @resume.sex=='male'%>checked="checked"<% end %> value="male" name="resume[sex]">
                <label for="sex">男</label>
              </div>
              <div class="col-8">
                <input id="sex_female" type="radio" <%if @resume.sex=='female'%>checked="checked"<% end %> value="female" name="resume[sex]">
                <label for="sex">女</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4">
            <label for="">出生日期</label>
            <span class="light">*</span>
          </div>
          <div class="col-44">
            <div class="row">
              <select name="resume[birthday(1i)]" id="resume_birthday_1i">
                <% (1965..1997).each do |y|%>
                    <option value="<%=y%>" <%if year(@resume.birthday)==y%>selected<%end%>><%=y%></option>
                <% end %>
              </select>
              <select name="resume[birthday(2i)]" id="resume_birthday_2i">
                <% (1..12).each do |m|%>
                <option value="<%=m %>" <%if month(@resume.birthday)==m%>selected<%end%>><%=m %></option>
                <% end %>
              </select>
              <select name="resume[birthday(3i)]" id="resume_birthday_3i">
                <% (1..31).each do |d|%>
                    <option value="<%=d %>" <%if day(@resume.birthday)==d%>selected<%end%>><%=d %></option>
                <% end %>
              </select>

            </div>
          </div>
        </div>
      </div>
      <div class="col-48 line">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-44">
            <button class="btn-primary" type="submit" >保存</button>
            <!--<button class="btn-default" type="button">取消</button>-->
          </div>
        </div>
      </div>
  <% end %>
</div>