<h1>简历管理</h1>
<div class="userInfoContent container">
  <div class="row">
    <div class="col-48 userInfoContent">
      <div class="row">
        <table id="resume_table">
          <thead>
            <tr>
              <th>照片</th>
              <th>所属用户</th>
              <th>简历名称</th>
              <th>真实姓名</th>
              <th>邮箱</th>
              <th>手机</th>
              <th>出生日期</th>
              <th>性别</th>
              <% if current_user.role.customer?%>
                <th>操作</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @resumes.each do |resume| %>
              <tr>
                <td>
                  <% if resume.photo_img.present?%>
                    <%= image_tag "/upload/#{resume.photo_img}", size: '50x50'%>
                  <% else %>
                    --
                  <% end %>
                </td>
                <td><%= resume.user.email %></td>
                <td><%= resume.title %></td>
                <td><%= resume.fullname %></td>
                <td><%= resume.email %></td>
                <td><%= resume.phone %></td>
                <td><%= resume.birthday %></td>
                <td><%= resume.sex.text %></td>
                <% if current_user.role.customer?%>
                    <td><%= link_to '编辑', display_resumes_path(:resume_id=>resume.id) %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <%= paginate @resumes %>
    </div>
  </div>
</div>

<%#= link_to 'New Resume', new_resume_path %>
