<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @resume.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @resume.user_id %>
</p>

<p>
  <strong>Resume work:</strong>
  <%= @resume.resume_work_id %>
</p>

<p>
  <strong>Resume education:</strong>
  <%= @resume.resume_education_id %>
</p>

<p>
  <strong>Resume attachment:</strong>
  <%= @resume.resume_attachment_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @resume.title %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @resume.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resume.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @resume.phone %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @resume.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @resume.birthday %>
</p>

<p>
  <strong>Height:</strong>
  <%= @resume.height %>
</p>

<p>
  <strong>Marriage:</strong>
  <%= @resume.marriage %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @resume.tag %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @resume.qq %>
</p>

<p>
  <strong>Intention jobs:</strong>
  <%= @resume.intention_jobs %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @resume.wage %>
</p>

<p>
  <strong>District:</strong>
  <%= @resume.district %>
</p>

<p>
  <strong>Photo img:</strong>
  <%= @resume.photo_img %>
</p>

<p>
  <strong>Photo audit:</strong>
  <%= @resume.photo_audit %>
</p>

<p>
  <strong>Talent:</strong>
  <%= @resume.talent %>
</p>

<p>
  <strong>Complete percent:</strong>
  <%= @resume.complete_percent %>
</p>

<p>
  <strong>Click:</strong>
  <%= @resume.click %>
</p>

<p>
  <strong>Tpl:</strong>
  <%= @resume.tpl %>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
