<div class="nav">
  <div class="container">
    <div class="row">
      <div class="col-offset-8 col-40">
        <div class="row">
          <%= link_to '我的简历',display_resumes_path, :class=>"item" %>
          <%= link_to '招聘信息', companies_path, :class=>"item" %>
          <%= link_to '就业培训',display_resumes_path, :class=>"item" %>
          <div id="login_user_info_div" class="pull-right userName">
              <a class="pull-right userName"  href="#"><%= current_user.email %>[<%=current_user.role_text %>] ▼</a>
              <br/>
              <div id="operate_info_div">
                  <%= link_to '修改信息', edit_user_registration_path, :class => 'navbar-link' %> |
                  <%= link_to "注销", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>