<div class="nav">
  <div class="container">
    <div class="row">
      <div class="col-offset-8 col-40">
        <div class="row">
          <% if current_user.role.customer?%>
              <%= link_to '企业管理', companies_path, :class=>"item" %>
              <%= link_to '就业培训管理',list_articles_path, :class=>"item" %>
          <% elsif current_user.role.admin? %>
              <%= link_to '用户管理', users_path, :class=>"item" %>
              <%= link_to '企业管理', companies_path, :class=>"item" %>
              <%= link_to '就业培训管理',list_articles_path, :class=>"item" %>
          <% else %>
              <%= link_to '我的简历',display_resumes_path, :class=>"item active" %>
              <%= link_to '招聘信息', jobs_path, :class=>"item" %>
              <%= link_to '就业培训',articles_path, :class=>"item" %>
          <% end %>

          <div id="login_user_info_div" class="pull-right userName">
              <a class="pull-right userName"  href="javascript:void(0);"><%= current_user.email %>[<%=current_user.role_text %>] ▼</a>
              <br/>
              <div id="operate_info_div">
                  <%= link_to '修改信息', edit_user_registration_path, :class => 'navbar-link' %><br>
                  <%= link_to "注销", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>