<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>维鼎猎聘网</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<% if user_signed_in? %>
    <%= render '/layouts/head' %>
    <%= render '/layouts/nav' %>
    <%= yield %>
    <%= render '/layouts/footer' %>
<% else %>
    <%= yield %>
<% end %>
</body>
</html>
