<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>维鼎猎聘网</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body <% if !user_signed_in? %>class="fullBackGroundBody"<% end %>>
<div class="alert alert-success fade in flash-message" style="top: 10px;">
  <button class="close" type="button">×</button>
</div>
<% if user_signed_in? %>
    <%= render '/layouts/head' %>
    <%= render '/layouts/nav' %>
    <%= yield %>
    <%= render '/layouts/footer' %>
<% else %>
    <%= render '/layouts/head' %>
    <%= yield %>
    <%= render '/layouts/footer' %>
<% end %>
<script>
    <% if notice %>
        $('.flash-message:last').show();
        $('.flash-message:last').html("<%= notice %>");
        $('.flash-message:last').delay(10000).fadeOut()
    <% end %>
    <% if alert %>
        $('.flash-message:last').show();
        $('.flash-message:last').html("<%= alert %>");
        $('.flash-message:last').delay(10000).fadeOut()
    <% end %>
</script>
</body>
</html>
